.thumbnail{
    width: 100%;
   

}
.video__preview{
  
 
    padding:20px;
    
}
.channel__picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video__info{
    display: inline-block;
    width: 200px;
}
.profile__picture{
    width:40px;
    border-radius: 50px;
}
.thumbnail-row {
    position:relative;
margin-bottom: 12px;
}
.video__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.video___time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 2px 2px 4px;
    border-radius: 3px;
}